<div id="footer-container">
    <footer>
            <button id="goBack" onclick="goBack()">Go Back</button>
            <a href="/logout"> <button type="singup" id="color-button"  value="log out">LOG OUT</button></a>

    </footer>
</div>
