<!DOCTYPE html>
<html>
<head>
    <title>Upetition</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" >
</head>
<body>
    <div class="cropper">
        <!-- <div id="imgn">
        </div> -->
        <div class="word">
            <h1>No Necktie!</h1>

            <p> Stop forcing employees to wear necktie in the workplace. Let's make wearing neckties a choice
            and not an 	obligation! In some companies thers are code dress and employees are forced to wear
            should wear very uncomforta bleduring th work time, of course they spend more money for this kind of dress. We sign
            NO CRAVAT to ask the compnies to stop forcing employees wearing or pay extra.</p>
        </div>
    </div>
    <div id="imgn">
    </div>

    {{{body}}}

    <script src="/js/signature.js"></script>

</body>
</html>
