<!DOCTYPE html>
<html>
<head>
    <title>Upetition</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" >
</head>
<body>
    <div class="cropper">
        <div class="imgn">
        </div>
        <div class="word">
            <h1>Upetition</h1>
            <h2>Necktie</h2>
            <h3>let's </h3>
            <p> No Necktie or Dress code in the workplace</p>
        </div>
    </div>
    {{{body}}}
    <script src="/js/signature.js"></script>

</body>
</html>
