<!DOCTYPE html>
<html>
    <head>
        <title>Petition</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" >
        <script>
            function goBack() {
                window.history.back()
            }
        </script>
    </head>
    <body>
        <div class="cropper">
            <div class="word">
                <h1>No Necktie!</h1>
                <p> Stop forcing employees to wear neckties in the workplace. Let's make wearing neckties a choice and not an obligation!
                    In some companies they have a very strict code dress and employees are forced to wear very uncomfortable clothes during their work time.
                    They also need to spend a lot of money for these clothes. with NO NECKTIE petition we ask the companies to stop forcing employees wearing
                    and buying expensive business attire!</p>
            </div>
                <img id='imgn' src="/img/cravatta.png"/>
        </div>
        <div class='center' id='error'>{{error}}</div>
        {{{body}}}


    </body>
</html>
