
    <!-- <div class="box">
    <h1 id="sign">Please sign the petition!</h1>
    <button type="button" id="ok">OK</button>
</div> -->

<form method="post" id="ggg">
    <div id="inp">
        <div>{{name}}</div>
        <inut type="text" name="signature" id="signature" placeholder="signature"></iput>
    </div>
    <input type="hidden" name="signature" id="hidden-input"></input>
    <div id="can">
        <canvas id="canv" width="400" height="400"></canvas>
    </div>
    <div id="but">
        <button type="button" id="clear">Clear</button>
        <button type="submit" id="submitButton">Submit</button>
    </div>
</form>

<footer>
    <div><a href="/logout"> <button type="singup" id="signup"  value="log out">LOG OUT</button></a></div>
</footer>

<script src="/js/signature.js"></script>
