<form method="post" class="ggg" id="ggg">
    <input type="hidden" name="_csrf"  value="{{csrfToken}}">
    <div id='petitioners'>{{name}}</div>
    <!-- <input type="text" name="signature" id="signature" placeholder="signature"> -->
    <input type="hidden" name="signature" id="hidden-input">
    <canvas id="canv" width="400" height="100"></canvas>
    <div class="sign">
        <button type="button" id="clear">Clear</button>
        <button type="submit" id="submitButton">Submit</button>
    </div>
</form>

<footer>
<a href="/logout"> <button type="singup" id="logout"  value="log out">LOG OUT</button></a>
</footer>

<script src="/js/signature.js"></script>
