<h1>Please log in.</h1>

<form method="post">
    <div>
        <input type="email" name="email" id="email" placeholder="Email Adress">
        <input type="password" name="password" id="password" placeholder="Password">
    </div>

    <div>
        <button type="singup" id="singup">LOG IN</button>
    </div>
</form>
