<form method="post">
    <div class="inputs">
        <input type="text" name="age" id="age" placeholder="Age"></iput>
        <input type="text" name="city" id="city" placeholder="City"></iput>
        <input type="text" name="url" id="url" placeholder="Homepage"></iput>
    </div>
    <div id="but">
        <button type="submit" id="signup">CONTINUE</button>
    </div>
</form>

<footer>
    <div><a href="/logout"> <button type="singup" id="signup"  value="log out">LOG OUT</button></a></div>
</footer>
