<form method="post">
    <div class="inputs">
        <input type="text" name="age" id="age" placeholder="Age"></iput>
        <input type="text" name="city" id="city" placeholder="City"></iput>
        <input type="text" name="email" id="email" placeholder="Homepage"></iput>
        <input type="password" name="password" id="password" placeholder="Password"></iput>
    </div>
    <div id="but">
        <button type="singup" id="singup">CONTINUE</button>
    </div>
</form>
