    <h1 id="thanks">Thank you for your signature!</h1>
    <img id="sigImg" src="{{sigImg}}">
    {{#signature}}
        <div class="profile">
             <a id="all" href="/petition/profile/signatures">See all {{.}} signers!</a>
        </div>
    {{/signature}}

    <script src="/js/signature.js"></script>
