    <h1 id="thanks">Thank you for your signature {{name}}!</h1>
    <img id="sigImg" src="{{sigImg}}">
    {{#signature}}
        <div class="profile">
             <a id="all" href="/petition/profile/signatures">See all {{.}} signers!</a>
        </div>
        <a href="/logout"> <button type="singup" id="logout"  value="log out">LOG OUT</button></a>
        <a href="/profile/edit" id="edit">Edit your profile</a>

    {{/signature}}
    <form method="POST" action="/petition/delete">
        <input type="hidden" name="_csrf"  value="{{csrfToken}}">
        <button id="delete">Delete your signature</button></form>

    <script src="/js/signature.js"></script>
