    <h1 id="thanks">Thank you for your signature {{name}}!</h1>
    <img id="sigImg" src="{{sigImg}}">
    {{#signature}}
        <div class="profile">
             <a id="all" href="/petition/profile/signatures">See all {{.}} signers!</a>
        </div>
        <a href="/logout"> <button type="singup" id="signup"  value="log out">LOG OUT</button></a>
    {{/signature}}

    <footer>
        <div><a href="/logout"> <button type="singup" id="signup"  value="log out">LOG OUT</button></a></div>
    </footer>
    
    <script src="/js/signature.js"></script>
