    <h1 id="thanks">Thank you for your signature {{name}}!</h1>
    <img id="sigImg" src="{{sigImg}}">
    {{#signature}}
        <div class="profile">
             <a id="all" href="/petition/profile/signatures">See all {{.}} signers!</a>
        </div>
        <a href="/logout"> <button type="singup" id="logout"  value="log out">LOG OUT</button></a>
        <a href="/petition/profile/edit">Edit your profile</a>
        <a href="/petition">Delete your signature</a>

    {{/signature}}

    <script src="/js/signature.js"></script>
