
<form method="post">
    <div class="inputs">
        <input type="text" name="firstname" id="firstname" placeholder="First name"></iput>
        <input type="text" name="lastname" id="lastname" placeholder="Last name"></iput>
        <input type="text" name="email" id="email" placeholder="Email Adress"></iput>
        <input type="text" name="password" id="password" placeholder="Password"></iput>
    </div>
    <div id="but">
        <button type="singup" id="singup">SIGN UP</button>
    </div>
</form>

<div>
<p>If you are already a member, please <a href="href="/petition/login"">log in</a></p>
</div>
