{{#register}}
<form method="post">
    <div class="inputs">
        <input type="text" name="firstname" id="firstname" placeholder="First name"></input>
        <input type="text" name="lastname" id="lastname" placeholder="Last name"></input>
        <input type="email" name="email" id="email" placeholder="Email Adress"></input>
        <input type="password" name="password" id="password" placeholder="Password"></input>
    </div>
    <div id="but">
        <button type="singup" id="singup">SIGN UP</button>
    </div>
</form>
{{/register}}

<div>{{error}}</div>
<div>
<p>If you are already a member, please <a href="/login">log in</a></p>
</div>

<footer>
    <div><a href="/logout"> <button type="singup" id="signup"  value="log out">LOG OUT</button></a></div>
</footer>
