<form method="post" class="signature" id="signature">
    <input type="hidden" name="_csrf"  value="{{csrfToken}}">
    <div id='petitioners'>{{name}}</div>
    <input type="hidden" name="signature" id="hidden-input">
    <canvas id="canv" width="400" height="100"></canvas>
    <div class="sign">
        <button type="button" id="clear">Clear</button>
        <button type="submit" id="submitButton">Submit</button>
    </div>
</form>

<script src="/js/signature.js"></script>
